 <!-- Whats icon -->
 <link rel="stylesheet" href="assets/css/style.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <a href="https://api.whatsapp.com/send?phone=5547997875397&text=Ol%C3%A1%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20parque%20" class="float" target="_blank">
 <i class="fa fa-whatsapp my-float"></i>
 </a>