@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
:root {
    --primary: #0068B2;
    --primary-color: #fff;
    --secondary: #5E5C5C;
    --ticket: #E9E9E9;
    --more: #545454;
    --red: #E63F3B;
    --orange:#ED7E06;
}

body {
    font-family: 'Passero One', cursive, Arial, Helvetica, sans-serif;
}

.carousel-caption h5 {
    font-size: 40px;
}

.carousel-item img {
    filter: brightness(50%);
}

.bg-default {
    background-color: var(--primary);
    color: var(--primary-color);
}

.bg-default {
    color: var(--primary-color);
}

.bg-ticket {
    background: var(--ticket);
    padding: 5px;
}

.bg-ticket button {
    border: 0;
    background-color: transparent;
}

.bg-ticket input {
    background-color: transparent;
    border: 0;
}

.color-default {
    color: var(--primary);
}

.color-default-secondary {
    color: var(--secondary);
}

.btn-default {
    background-color: var(--primary);
    color: var(--primary-color);
}

.btn-default:hover {
    opacity: 0.8;
    color: var(--primary-color)
}

nav ul li a {
    font-size: 22px;
}

.logo-nav {
    height: 75px;
}

.emphasis {
    position: relative;
    padding: 15px;
}

.emphasis img {
    width: 100%;
}

.emphasis:before {
    content: url("/assets/img/icons/after.png");
    width: 200px;
    height: 200px;
    position: absolute;
    top: -29px;
    left: -26px;
}

.emphasis:after {
    content: url("/assets/img/icons/before.png");
    position: absolute;
    bottom: -30px;
    right: -35px;
}

.description {
    color: #7B7B7B;
}

.more {
    color: var(--more);
    text-decoration: none;
    font-size: 26px;
}

.calendar-head {
    text-align: center;
    background-color: #E0E0E0;
}

.calendar-head h5 {
    padding: 5px;
}

.calendar-week table {
    width: 100%;
    text-align: center;
}

.day {
    width: 27px;
    background-color: #EAEAEA;
    margin: 0 auto;
}

.day-close {
    width: 27px;
    background-color: var(--red);
    margin: 0 auto;
}

.toys {
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer ul li {
    list-style: none;
    margin: 0;
    display: list-item;
}

footer ul li a {
    color: #ffffff80;
    text-decoration: none;
}

footer ul li a:hover {
    color: white;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.btn-ticket{
    background:transparent;
    border:2px solid var(--primary-color);
    color:white;
}
.btn-ticket:hover{
    color: var(--primary-color);
    opacity: 0.5;
}

.carrinho-mobile img {
    width: 25px;
}
.home-section {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url("/assets/img/example-home.png");
    width: 100%;
    backdrop-filter: brightness(50%);
    text-align: center;
    font-size: 3rem;
    height: 420px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--primary-color);
}

.footercopy{
width: 100%;
background-color: #0068B2;
bottom: 0px;
}

.imgdev{
   justify-content: center;
   float: right;
   display: flex;
   width: 35px;
   padding: 5px;

}



/*INGRESSO*/

.ticket-section {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url("/assets/img/example-ticket.png");
    width: 100%;
    backdrop-filter: brightness(50%);
    text-align: center;
    font-size: 3rem;
    height: 312px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--primary-color);
}

/*ATRAÇÃO*/

.attraction-section {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url("/assets/img/example-attraction.png");
    width: 100%;
    backdrop-filter: brightness(50%);
    text-align: center;
    font-size: 3rem;
    height: 312px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--primary-color);
}

/*ATRAÇÃO*/

.hotel-section {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url("/assets/img/example-hotel.jpg");
    width: 100%;
    backdrop-filter: brightness(50%);
    text-align: center;
    font-size: 3rem;
    height: 312px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--primary-color);
}

.card-toys img {
    width: 100%;
    object-fit: cover;
}

.card-toys h5 {
    font-size: 36px;
    color: var(--primary);
}

.text-age {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #E63F8C;
}
.text-red{
    color:var(--red);
}
.text-orange{
    color:var(--orange);
}

@media (max-width: 768px) {
    .carrinho-mobile {
        padding-left: 1.5rem;
    }
}

/*Whats*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	right:20px;
	background-color:#18be55;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px rgb(85, 85, 85);
  z-index:100;
  text-decoration: none;
}

.my-float{
	margin-top:16px;
}